*.baml
*.cache
*.exe
*.sln.DotSettings.user
*.Properties.Resources.resources
*.lref
*.vshost.exe.manifest
*.pdb
*.g.resources
*.exe.config
CGAlgorithms/obj/*
CGAlgorithms/bin/*
CGUI/obj/*
CGUI/bin/*
CGUtilities/bin/*
CGUtilities/obj/*
CGAlgorithmsUnitTest/obj/*
CGAlgorithmsUnitTest/bin/*
CGUtilitiesUnitTest/bin/*
CGUtilitiesUnitTest/obj/*



/CGPackage.v11.suo
